<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci, vraiment</title>
    <link rel="stylesheet" href="../static/style_f.css">
</head>
<body>
    <div class="m">
        <a href="{{ url_for('index') }}">Accueil</a>
        <a href="{{ url_for('log') }}">Gestion administrateur</a>
    </div>
    <h1>Gestionnaire.</h1>
        <h2>Système de gestion des bus</h2>
    <fieldset>
        <h3>blablablablabla...interface</h3>
    </fieldset>
</body>
</html> 
