<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire_exercice</title>
    <link rel="stylesheet" href="./ressources/style_3.css">
</head>
<body>
    <div class="m">
        <a href="{{ url_for('index') }}">Accueil</a>
        <a href="{{ url_for('log') }}">Gestion administrateur</a>
    </div>
<form method="get" action="{{ url_for('add')}}">
    <fieldset>
        <div>
            <label for="log">Veuillez saisir votre identifiant</label>
            <input type="text" id="login" value="login"></input>
        </div>
      <br><br>
        <div>
            <label for="log">Veuillez saisir votre mot de passe</label>
            <input type="password" id="pwd" name="pwd">
        </div>
      <br><br><br>
      <div>
      <button type="submit"><strong>Valider</strong></button>
        </div>
    </fieldset>
</form>
</body>
</html>